.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: #2d334a; */
}

.title{
    display: flex;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    color: #2d334a;
    width: 800px;
    border-left: 10px solid #2d334a;
    border-right: 10px solid #2d334a;
    background-color: #e3f6f5;
    padding-bottom: 10px;
    position: fixed;
}

.background{ 
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 100px;
    align-items: center;
    width: 800px;
    height:100%;
    border-left: 10px solid #2d334a;
    border-right: 10px solid #2d334a;
    background-color: #e3f6f5;
    overflow-y: auto;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #bae8e8;
    width: 600px;
    height: 200px;
    border-radius: 7px;
    margin-top: 43px;
    border-style: solid;
    border-width: 3px;
    border-color: #272343;
}

.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 600px;
    background-color: #272343;
    color:#e3f6f5;
}

.cardDate{
    display: flex;
    justify-content: center;
    font-size: medium;
    width: 200px;
}

.detailTitle{
    display: flex;
    justify-content: center;
    font-size: larger;
    width: 400px;
}

.cardContainer{
    display: flex;
    height: 170px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.stateAmount{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    width: 200px;
}

.status{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(53, 196, 45);
    font-size:25px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.amount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#272343;
    font-size: 20px;
    padding-bottom: 40px;
}

.detail{
    width: 400px;
    height: 170px;
    overflow-y: auto;
    border-left:2px solid #272343;
    border-bottom-right-radius: 5px;
}

.detailContainer{
    padding-top:10px; 
}

.productName{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 18px;
    padding-left: 25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.productQty{
    font-size: 18px;
    padding-left: 25px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.productPrice{
    font-size: 18px;
    padding-left: 25px;
    padding-top: 5px;
}

.subtotal{
    font-size: 18px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom:2px solid #272343;
}