.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.background{ 
    display:flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    width: 1000px;
}

.title{
    padding-bottom: 50px;
    color: #272343
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #bae8e8;
    width: 600px;
    height: 250px;
    border-radius: 7px;
    margin: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #272343;
}

.cardHeader{
    display:flex;
    height: 30px;
    background-color: #272343;
    color:#e3f6f5;
    font-size: larger;
    padding-left:20px;
}

.cardContainer{
    display: flex;
    height: 220px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.stateAmount{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    /* padding-left: 10px; */
}

.status{
    color: rgb(53, 196, 45);
    font-size:30px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.amount{
    color:#272343;
    font-size: large;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 10px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 170px;
    padding-right: 50px;
}

.buttons button{
    height: 45px;
    width: 150px;
    border-radius: 5px;
    margin: 10px;
}

.detail{
    width: 250px;
    height: 220px;
    overflow-y: auto;
    border-left:2px solid #272343;
    border-bottom-right-radius: 5px;
}

.detailContainer{
    border-top:2px solid #272343;
    margin-bottom: 10px;
}

.productName{
    font-size: 11px;
    padding-left: 25px;
    margin-bottom: 10px;
}
.productQty{
    font-size: 11px;
    padding-left: 25px;
    margin-bottom: 10px;
}
.productPrice{
    font-size: 11px;
    padding-left: 25px;

}
.subtotal{
    font-size: 11px;
    padding-left: 25px;
}