.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 245, 241);
    padding: 30px;
    margin-top: 100px;
 }

 .container .data{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    height: 700px;
    padding: 2%;
 }
 
h3{
    margin-top: 30px;
    margin-left: 100px;
}h2{
    margin-top: 40px;
    margin-left: 100px;
}
