.container{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 245, 241);
    padding: 30px;
    margin-top: 100px;
}

 .container .data{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    height: auto;
    padding: 2%;
 }
 
h1{
    margin-top: 1px;
    margin-left: 280px;
    width: 25;
    text-align: center;
    color: rgb(85, 83, 87);
}


.btnDel{
    width: 30px;
    height: 30px;
    background-color: rgb(236, 47, 47);
    color: white;
    border: 1px solid black;
}

.btnDel:hover{
    background-color: black;
    border: solid 2px rgb(236, 47, 47);
}

.btn{
    background-color: #FFD803;
    width: 200px;
    height: 45px;
    border: solid 1px gray;
    border-radius: 15px;
    margin-top: 20px;
    font: black bold;
 }
 .btn:hover{
     background-color:rgb(192, 198, 204) ;
     border:solid 1px #2e2e2c;
     
 }

 .btn_container{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     min-height: 20vh;
     flex-wrap: 10px;
     background-color: rgb(241, 247, 247);
    
 }
 .amount{
    width: 100%;
    justify-content: center;
    text-align: center;
    color: rgb(44, 42, 42);
    font:26px bolder;
    font-family:inherit;
   
    
    
 }