*{
   box-sizing: border-box;
}
.container{
   width: 100%;
   min-height: 100px;
   background-color: rgb(221, 210, 172);
   position: fixed;
   margin-bottom: 30px;
   border-bottom: solid 2px gray;
   display: flex;
   justify-content: space-around;
   padding: 20px 0px;
   flex-wrap: wrap;
   z-index: 100;
}

.container select, .container input{
   width: 150px;
   height: 30px;
   font-size: 12px;
   margin: 5px 10px;
   margin-top: 15px;
   
}

.pagination{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

@media (max-width:1230px) {
   .container{
      padding: 40px 0;
   }
}
@media (max-width:1037px) {
   /* .container{
      padding: 20px 0;
   } */
}
