
.password{
    margin: 120px 0px 0px 0px;
    /* padding: 100px 400px 0px 400px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(0, 104, 184);
    padding: 5px 22px 5px 22px;
    margin: 85px 150px 15px 150px;
    width: 400px;
    border-radius: 5px;
    background-color: rgba(157, 255, 0, 0.063);
}

.inputEmail{
    border: 1px solid rgb(145, 145, 145);
    margin: 15px 15px 15px 15px;
    padding: 6px;
    width: 100%;
    border-radius: 3px;
}

.button{
    padding: 5px 20px 5px 20px;
    background-color: orange;
    color: black;
    margin: 15px 0px 15px 0px;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo{
    margin: 15px 0px 0px 0px;
    font-size: 20px;
    font-family: monospace;
    font-weight: 550;

}